awscli==1.7.37
botocore==1.1.0
click==4.0
colorama==0.3.3
configobj==5.0.6
docutils==0.12
ecdsa==0.13
Fabric==1.10.1
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.7.1
MarkupSafe==0.23
paramiko==1.15.2
pgcli==0.18.0
prompt-toolkit==0.42
psycopg2==2.6.1
pyasn1==0.1.8
pycrypto==2.6.1
Pygments==2.0.2
python-dateutil==2.4.2
requests==2.7.0
rsa==3.1.4
six==1.9.0
slugify==0.0.1
sqlparse==0.1.14
travis==0.0.2
wcwidth==0.1.4
Werkzeug==0.10.4
xlrd==0.9.3
