<div class="banner" id="banner">
  <a href="http://thelensnola.org/" class="banner-logo" id="banner-logo">
      <img src="https://s3-us-west-2.amazonaws.com/lensnola/land-records/css/images/lens-logo-retina.png" class="banner-image" id="banner-image" width="100">
  </a>
  <a href="index.html" class="banner-title" id="banner-title">City of New Orleans employee salaries</a>
  <a href="http://thelensnola.org/support-us/" target="_blank" class="banner-support" id="banner-support">Support<br>The Lens</a>
  <a href="mailto:?subject=Live%20election%20results%20by%20The%20Lens&body=http://elections.thelensnola.org" target="_blank" class="banner-social-email" id="banner-social-email"><i class="fa fa-envelope"></i></a>
  <a href="https://twitter.com/intent/tweet?url=http://elections.thelensnola.org;text=I'm watching live election results of Louisiana and New Orleans.;source=webclient" target="_blank" class="banner-social-twitter" id="banner-social-twitter"><i id="social-twitter" class="fa fa-twitter"></i></a>
  <a href="http://www.facebook.com/sharer.php?u=http://elections.thelensnola.org&p[title]=The Lens presents live election results for New Orleans and Louisiana. View precinct-by-precinct vote totals with an interactive map" target="_blank" class="banner-social-facebook" id="banner-social-facebook"><i class="fa fa-facebook"></i></a>
</div>
