<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<!--[if lt IE 9]><script src="https://s3-us-west-2.amazonaws.com/lensnola/external-libraries/js/respond.js"></script><!--<![endif]-->
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/external-libraries/js/tablesaw.stackonly.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/external-libraries/js/jquery.csv-0.71.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.1/js/foundation.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/external-libraries/js/handlebars-v2.0.0.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/external-libraries/js/jquery-ui-1.11.4.autocomplete-only.min.js"></script>
<script type="text/javascript">
  $(document).foundation();
</script>
<script type="text/javascript" src={{ lens_js }}></script>
<script type="text/javascript" src={{ citysalaries_js }}></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/app-template/js/vault_analytics.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/app-template/js/chartbeat.js"></script>
