<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search employees</label>
    <input class="small-12 columns name-address-box" id="employees" type="search" placeholder="Mitch Landrieu, Michael Harrison" />
  </div>
</div>

<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search departments</label>
    <select id="departments" name="departments">
      <script id="departments-template" type="text/x-handlebars-template">
        <option value="" selected>Select department</option>
        {% raw %}
          {{#each this}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        {% endraw %}
      </script>
    </select>
  </div>
</div>

<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search positions</label>
    <select id="positions" name="positions">
      <script id="positions-template" type="text/x-handlebars-template">
        <option value="" selected>Select position</option>
        {% raw %}
          {{#each this}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        {% endraw %}
      </script>
    </select>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered text-center columns ui-components" id="ui-components">
    <button class="small button search-button" id="search-button">Search</button>
    <a class="show-everything">Show all records</a>
  </div>
</div>