<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search employees</label>
    <input class="small-12 columns name-address-box" id="employees" type="search" placeholder="Mitch Landrieu, Michael Harrison" />
  </div>
</div>

<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search departments</label>
    <input class="small-12 columns name-address-box" id="departments" type="search" placeholder="Traffic Court, Office of the Mayor" />
  </div>
</div>

<div class="row">
  <div class="small-12 columns input-div" id="input-div">
    <label>Search positions</label>
    <input id="positions" class="small-12 columns name-address-box" type="search" placeholder="Police captain, council member" />
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered text-center columns ui-components" id="ui-components">
    <button class="small button search-button" id="search-button">Search</button>
    <a class="show-everything">Show all records</a>
  </div>
</div>